{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>My Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

    <style>
        :root{
            --body-font-family:             'Open Sans', sans-serif;
        }
        .graph{
            border: 1px solid #2E91E4;
            width: 70%;
        }
        .profile {
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            font-family: var(--body-font-family);    

        }

        .profile:hover {
            border-color: #007bff;
            box-shadow: 0 0 10px #007bff;
        }

        .profile h2 {
            color: #007bff;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .profile p {
            font-size: 28px;
            font-family: var(--body-font-family);    

            margin-bottom: 10px;
        }

        .btn-weight-blue {
            background-color: #4c83be;
            border-color: #3f83ca;
            font-weight: bold;
        }


        .blue-outline {
            border: 2px solid;
            padding: 20px;
            border-radius: 10px;
            border-color: #d9d9d9;
            /* box-shadow: 0 0 10px #007bff; */
        }
        .blue-outline:hover{
            border-color:#4c83be;
            box-shadow: 0 0 10px #549be7;
        }
        .background{
            background: scroll;
            background-size: cover;
            background-repeat: no-repeat; 
        }
        body{
            margin-top: 20px;
            background-image: url("{% static 'magazine.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            padding-top:0px;
        }
        .header-area{
            background: white;
        }
        .main{
            padding: 15px;
            font-family: var(--body-font-family);    

            font-size: larger;
        }
    </style>
</head>

<body>
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                
                                    <!-- <h1 style="color: black; cursor: pointer;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">Stroke</h1> -->
    
                                    <a href="{% url 'accounts:home' %}"><img class="w-50" src="{%static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png' %}" alt=""></a>
                                
                                <!-- <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> -->
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'accounts:home' %}">Home</a></li>
                                            <li><a href="{% url 'predict:prediction' %}">stroke</a></li>
                                            <li><a href="{% url 'predict:Dite_plan' %}">Diets plan</a></li>
                                        
                                            <li><a href="{% url 'accounts:profile' %}">profile</a></li>
                                            {% if user.is_authenticated %}
                                        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'accounts:login' %}">login</a></li>
                                        {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                <!-- <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="#" class="btn header-btn">^^</a>
                                </div> -->
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- <img src="{% static 'magazine.jpg' %}" alt=""> -->
<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="profile">
                    <!-- <img src={{profile.image}}   alt="Profile Picture" class="img-thumbnail mb-3"> -->
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">name:{{profile.user}}</p>
                    <!-- <p>Email:{{profile.email}}</p> -->
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Mobile Number: {{profile.phone}}</p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">addrees:{{profile.address}}</p>
                    <div class="row justify-content-center">
                        <a href="{% url 'accounts:Edit_profile' %}">
                        <button class="btn-info"style="margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                        cursor: pointer;
                        border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s;
                        padding: 12px; ">Edit Profile</button>
                    </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <button  class="btn-info" style="margin: 15px;color: wheat; background-color: #2E91E4;border: none;
        cursor: pointer;
        border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px; " onclick="showMyStroke()">Show My Last Stroke Result</button>
        <button class="btn-info" style="margin: 15px;color: wheat; background-color: #2E91E4;border: none;
        cursor: pointer;
        border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s;padding: 12px ; " onclick="showOtherStroke()">Show Other Last Stroke Result</button>
    </div>
    <div class="container" id="my-stroke-container" style="display: none;">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="blue-outline">
                    <h2 style="font-style: unset;color:rgb(52, 145, 221)">Last Stroke Result For You :</h2>
                    {% if my_stroke.result == 1%}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Result : Yes</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Result : No</p>
                    {% endif %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Probability to have stroke : {{ my_stroke.result_proba}}</p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Age : {{ my_stroke.age }}</p>
                    {% if my_stroke.gender == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Gender : Male</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Gender : Female</p>
                    {% endif %}
                    {%if my_stroke.work_type == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Private</p>
                    {%elif my_stroke.work_type == 1 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Self Employment</p>
                    {%else%}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Government Job</p>
                    {% endif %}
                    {% if my_stroke.hypertension == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Hypertension : No have hypertension</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Hypertension : Have hypertension</p>
                    {% endif %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Avg Glucose Level : {{ my_stroke.avg_glucose_level }}</p>

                    {% if my_stroke.heart_disease == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Heart Diseases : No have Heart Diseases</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Heart Diseases : Have Heart Diseases</p>
                    {% endif %}

                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Height : {{ my_stroke.height }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Weight : {{ my_stroke.weight }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Recommended Diet : {{ my_stroke.recommendation }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Last Prediction Date : {{ my_stroke.date }}</p>
                    <div style="border: 1px solid #2E91E4; width: 75%;">
                        <img src="data:image/png;base64,{{ image_data }}" alt="Stroke Probability Graph">
                        {% if unique_dates <= 2 %}
                        <p>Note : There Is No Enough Predictions To Draw Powerful Graph</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="other-stroke-container" style="display: none;">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="blue-outline">
                    <h2 style="font-style: unset;color:rgb(52, 145, 221)">Last Stroke Result For Other :</h2>
                    {% if other_stroke.result == 1%}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Result : Yes</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Result : No</p>
                    {% endif %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Probability to have stroke : {{ other_stroke.result_proba}}</p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Age : {{ other_stroke.age }}</p>
                    {% if other_stroke.gender == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Gender : Male</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Gender : Female</p>
                    {% endif %}

                    {% if other_stroke.work_type == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Private</p>
                    {% elif other_stroke.work_type == 1 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Self Employment</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Work Type : Government Job</p>
                    {% endif %}
                    {% if other_stroke.hypertension == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Hypertension : Not have hypertension</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Hypertension : Have hypertension</p>
                    {% endif %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Avg Glucose Level : {{ other_stroke.avg_glucose_level }}</p>

                    {% if other_stroke.heart_disease == 0 %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Heart Diseases : Not have Heart Diseases</p>
                    {% else %}
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Heart Diseases : Have Heart Diseases</p>
                    {% endif %}

                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Height : {{ other_stroke.height }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Weight : {{ other_stroke.weight }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Recommended Diet : {{ other_stroke.recommendation }} </p>
                    <p style="font-size: larger;color: rgb(12, 12, 12);font-weight:500;">Last Prediction Date : {{ other_stroke.date }}</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg mt-5" data-background="assets/img/gallery/footer_bg.jpg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">
                         
                    
                                    <div class="footer-logo">
                                        <a href="{% url 'accounts:home' %}"><img class="w-50" src="{% static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png'%}" alt=""></a>
                                        </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Lorem igpsum doldfor sit amet, adipiscing elit, sed do eiusmod tempor cergelit rgh. </p>
                                        <p class="info1">Lorem ipsum dolor sit amet, adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    
                                    <p>youremail@gmail.com</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    Send
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                               
                                
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
        <script>
        function showMyStroke() {
            document.getElementById("my-stroke-container").style.display = "block";
            document.getElementById("other-stroke-container").style.display = "none";
        }
        
        function showOtherStroke() {
            document.getElementById("my-stroke-container").style.display = "none";
            document.getElementById("other-stroke-container").style.display = "block";
        }
    </script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-core.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>