{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Reset</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'stylee.css'%}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
	<header>
		<!--? Header Start -->
		<div class="header-area">
			<div class="main-header header-sticky">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!-- Logo -->
						<div class="col-xl-2 col-lg-2 col-md-1">
							<div class="logo">
								<!-- <h1 style="color: black; cursor: pointer;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">Stroke</h1> -->
	
								<a href="{% url 'accounts:home' %}"><img class="w-50" src="{%static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png' %}" alt=""></a>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-10">
							<div class="menu-main d-flex align-items-center justify-content-end">
								<!-- Main-menu -->
								<div class="main-menu f-right d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a href="{% url 'accounts:home' %}">Home</a></li>
											<li><a href="{% url 'predict:prediction' %}">stroke</a></li>
											<li><a href="{% url 'predict:Dite_plan' %}">Diets plan</a></li>
									
											<li><a href="{% url 'accounts:profile' %}">profile</a></li>
											{% if user.is_authenticated %}
                                        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'accounts:login' %}">login</a></li>
                                        {% endif %}
											<li><a href="{% url 'accounts:login' %}">login</a></li>
										</ul>
									</nav>
								</div>
								<!-- <div class="header-right-btn f-right d-none d-lg-block ml-30">
									<a href="#" class="btn header-btn">^^</a>
								</div> -->
							</div>
						</div>   
						<!-- Mobile Menu -->
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->
	</header>
	<div class="container-fluid">
		<div class="row">	
			<div class="col-lg-6 form-block px-4">
				<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">
					<div class="text-center mb-3 mt-5">
						
					</div>
					<div class="reset-form d-block">
					  <form class="reset-password-form">
					    <h4 class="mb-3 text-center">Reset Your password</h4>
					    <p class="mb-3" style="color: #777">
					      Please enter your email address and we will send you a password reset link.
					    </p>
					    <div class="form-input">
								<span><i class="fa fa-envelope-o"></i></span>
								<input type="email" name="" placeholder="Email Address" tabindex="10"required>
							</div>
					    <div class="mb-3"> 
								<button type="submit" class="btn">Send Reset Link</button>
							</div>
							<div class="text-center mb-5">
								Already have password 
								<a class="login-link" href="{% url 'accounts:login' %}">Login here</a>
							</div>
				    </form>
					</div>
					<div class="reset-confirmation d-none">
					    <div class="mb-4">
					    <h4 class="mb-3 text-center">Link was sent</h4>
					    <h6>Please, check your inbox for a password reset link.</h6>
					    </div>
					    <div class="mb-4">
					    <a href="{% url 'accounts:login' %}">
					      <button type="submit" class="btn">Login Now</button>
					    </a>
					  </div>
					</div> 
				</div>
			</div>

			<div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
		</div>
	</div>
	<footer>
		<!--? Footer Start-->
		<div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.jpg">
			<div class="container">
				<div class="footer-top footer-padding">
					<div class="row d-flex justify-content-between">
						<div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
							<div class="single-footer-caption mb-50">
						 
								<div class="footer-logo">
									<a href="{% url 'accounts:home' %}"><img class="w-50" src="{% static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png'%}" alt=""></a>
									</div> 
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>About Us</h4>
									<div class="footer-pera">
										<p class="info1">Lorem igpsum doldfor sit amet, adipiscing elit, sed do eiusmod tempor cergelit rgh. </p>
										<p class="info1">Lorem ipsum dolor sit amet, adipiscing elit.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
							<div class="single-footer-caption mb-50">
								<div class="footer-number mb-50">
									
									<p>youremail@gmail.com</p>
								</div>
								<!-- Form -->
								<div class="footer-form">
									<div id="mc_embed_signup">
										<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
											<input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
											<div class="form-icon">
												<button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
													Send
												</button>
											</div>
											<div class="mt-10 info"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-xl-9 col-lg-8">
							<div class="footer-copy-right">
							   
								
							</div>
						</div>
						<div class="col-xl-3 col-lg-4">
							<!-- Footer Social -->
							<div class="footer-social f-right">
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fas fa-globe"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>

<script type="text/javascript">
	function PasswordReset() {
  	$('form.reset-password-form').on('submit', function(e) {
      e.preventDefault();
      $('.reset-form')
      .removeClass('d-block')
      .addClass('d-none');
	    $('.reset-confirmation').addClass('d-block');
		});
	}

	window.addEventListener('load', function() {
    PasswordReset();
	});
</script>
</body>
</html>