{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'dite.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <title>Diet Plan</title>
</head>
<style>
    h1
{
    color : rgba(39, 152, 197, 0.819) ;
}
a{
    color: #2E91E4;
}
a:hover{
    color: red;
    background-color:white;

}
.card mb-3 :hover{
    background-color: rgba(39, 152, 197, 0.819);
    color: rgb(29, 85, 170);
}
.btn btn-primary
{
    color :#2E91E4;
    width: 150px;
    height: 160px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color:#2E91E4 ;
    border: 2px solid #298dcf;
    box-shadow: 0 8px 16px 0 rgba(25, 171, 216, 0.959), 0 6px 20px 0 rgba(69, 132, 204, 0.959);
    float: right;
}

.hide{
    display: none;
}
.logo{
    color: white;
    font-size: 28px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;

}
nav ul li a {
    color : white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color : black;
    transition: .3s;
    text-decoration: none;
}

nav a i {
    color : white;
}
nav a i:hover {
    color : black;
}   
img:hover{
    border: 2px #2E91E4 solid;
}
</style>

<body>

    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <!-- <h1 style="color: black; cursor: pointer;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">Stroke</h1> -->

                                <a href="{% url 'accounts:home' %}"><img class="w-50" src="{%static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'accounts:home' %}">Home</a></li>
                                            <li><a href="{% url 'predict:prediction' %}">stroke</a></li>
                                            <li><a href="{% url 'predict:Dite_plan' %}">Diets plan</a></li>
                                            <li><a href="{% url 'accounts:profile' %}">profile</a></li>
                                            {% if user.is_authenticated %}
                                        <li><a href="{% url 'accounts:logout' %}">logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'accounts:login' %}">login</a></li>
                                        {% endif %}
                                            
                                        </ul>
                                    </nav>
                                </div>
                                <!-- <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="#" class="btn header-btn">^^</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus1.jpg' %}" class="img-fluid rounded-start w-200" alt="about"
                    style="margin-top: 20px; height:120px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                DASH stands for Dietary Approaches to Stop Hypertension. The DASH diet is a
                                healthy-eating plan designed to help treat or prevent high blood pressure (hype.
                                The DASH diet includes foods that are rich in potassium, calcium and magnesium. These
                                nutrients help control blood pressure. The diet limits foods that are high in sodium,
                                saturated fat and added sugars.
                                The diet can also lower low-density lipoprotein (LDL or "bad") cholesterol levels in the
                                blood. High blood pressure and high LDL cholesterol levels are two major risk factors
                                for heart disease and stroke.
                                The DASH diet is ideal for people with hypertension because it encourages sticking to
                                1,500 milligrams of sodium daily. In addition, like the Mediterranean diet, the DASH
                                suggests limiting sweetened beverages, sweets, fatty meats, full-fat dairy, and tropical
                                oils.


                            </p>

                            <a class="link"
                                href="https://www.healthifyme.com/blog/dash-diet-for-high-blood-pressure/"> Find out more </a>

                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px;" onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus2.jpg' %}" class="img-fluid rounded-start w-200" alt="about" style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                Intermittent fasting cycles your body between periods of fasting and eating.
                                Rather than restricting the foods you eat, it controls when you eat them. Thus, it can
                                be seen as more of an eating pattern than a diet.
                                The most popular ways to do intermittent fasting are:
                                The 16/8 method: Involves skipping breakfast and restricting your daily eating period to
                                eight hours, subsequently fasting for the remaining 16 hours of the day.
                                The eat-stop-eat method: Involves 24-hour fasts once or twice per week on
                                non-consecutive days.
                                The 5:2 diet: On two non-consecutive days of the week, you restrict your intake to
                                500–600 calories. You do not restrict intake on the five remaining days.
                                The Warrior Diet: Eat small amounts of raw fruits and vegetables during the day and one
                                huge meal at night.
                                How it works: Intermittent fasting is commonly used for weight loss because it leads to
                                relatively easy calorie restriction.
                                It can make you eat fewer calories overall — as long as you don’t overcompensate by
                                eating much more during the eating periods.
                                Weight loss: Intermittent fasting is generally very successful for weight loss. It has
                                been shown to cause weight loss of 3–8% over a period of 3–24 weeks, which is a lot
                                compared to most weight loss diets
                                Other benefits: Intermittent fasting may reduce markers of inflammation, cholesterol
                                levels, blood triglycerides, and blood sugar levels

                            </p>
                            <a class="link"
                                href="https://www.healthline.com/nutrition/intermittent-fasting-guide#what-it-is"> Find out more </a>
                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px;" onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus3.jpg' %}" class="img-fluid rounded-start w-200" alt="about" style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                Low-carb diets have been popular for weight loss. limiting carb intake to 20–150 grams
                                per day.
                                The primary aim of the diet is to force your body to use more fats for fuel instead of
                                using carbs as a main source of energy.
                                Your body can then use fatty acids and ketones in the absence of carbs as its primary
                                energy source.
                                Low-carb diets tend to reduce your appetite and make you feel less hungry
                                The downside: Low-carb diets do not suit everyone.
                                Some people may experience an increase in “bad” LDL cholesterol In extremely rare cases,
                                very low-carb diets can cause a serious condition called nondiabetic ketoacidosis.
                                This condition seems to be more common in lactating women and can be fatal if left
                                untreated
                            </p>
                            <a
                                href="https://www.eatingwell.com/article/288751/how-to-start-a-low-carb-diet/"> Find out more </a>
                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px;" onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px; border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus4.jpg' %}" class="img-fluid rounded-start w-200" alt="about" style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                The ketogenic diet (or keto diet, for short) is a low carb, high fat diet that offers
                                many health benefits.
                                In fact, many studies show that this type of diet can help you lose weight and improve
                                your health
                                Ketogenic diets may even have benefits against diabetes, cancer, epilepsy, and
                                Alzheimer’s disease
                                The ketogenic diet is a very low carb, high fat diet that shares many similarities with
                                the Atkins and low carb diets.
                                It involves drastically reducing carbohydrate intake and replacing it with fat. This
                                reduction in carbs puts your body into a metabolic state called ketosis.
                                When this happens, your body becomes incredibly efficient at burning fat for energy. It
                                also turns fat into ketones in the liver, which can supply energy for the brain
                                Ketogenic diets can cause significant reductions in blood sugar and insulin levels.
                                This, along with the increased ketones, has some health benefits
                                Different types of ketogenic diets:
                                Standard ketogenic diet (SKD): This is a very low carb, moderate protein and high fat
                                diet. It typically contains 70% fat, 20% protein, and only 10% carbs (9Trusted Source).
                                Cyclical ketogenic diet (CKD): This diet involves periods of higher carb refeeds, such
                                as 5 ketogenic days followed by 2 high carb days.
                                Targeted ketogenic diet (TKD): This diet allows you to add carbs around workouts.
                                High protein ketogenic diet: This is similar to a standard ketogenic diet, but includes
                                more protein. The ratio is often 60% fat, 35% protein, and 5% carbs.
                            </p>
                            <a
                                href="https://www.dietdoctor.com/low-carb/keto"> Find out more </a>
                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px;" onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus5.jpg' %}" class="img-fluid rounded-start w-200" alt="about"
                    style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">

                                The “One Meal a Day” diet, or OMAD diet, claims to help you lose weight by forcing your
                                body to burn fat. It’s a type of intermittent fasting, which alternates between periods
                                throughout the day in which you can eat anything and periods in which you don’t eat at
                                all.

                                OMAD is particularly strict because you don’t eat for 23 hours, then consume all of your
                                calories in a single meal.

                                How It Works
                                Like other kinds of intermittent fasting, eating one meal a day is a way of manipulating
                                how your body finds and uses fuel. When you eat in a more traditional pattern, your
                                energy comes from the food that you eat.

                                When you take in carbohydrates, your body breaks them down into sugars. If you have more
                                sugar in your blood than you need, a chemical called insulin will carry the extra into
                                your fat cells.

                                When you don’t eat for extended periods of time, your body produces less insulin. Your
                                cells still need energy for fuel, so your fat cells release energy to compensate. For
                                this to happen, however, you have to avoid eating for long enough that your insulin
                                levels drop.
                            </p>
                            <a
                                href="https://www.healthline.com/health/food-nutrition/one-meal-a-day-diet"> Find out more </a>
                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px; " onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus6.jpg' %}" class="img-fluid rounded-start w-200" alt="about"
                    style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">

                                The Mediterranean diet is based on the traditional foods that people used to eat in
                                countries bordering the Mediterranean Sea, including France, Spain, Greece, and Italy.
                                lthough there are no strict rules or regulations for the diet, it typically encourages
                                fruits, vegetables, whole grains, legumes, nuts, seeds, and heart-healthy fats.
                                Processed foods, added sugar, and refined grains should be restricted.
                                Numerous studies have now shown that the Mediterranean diet can promote weight loss and
                                help prevent heart attacks, strokes, type 2 diabetes, and premature death
                            </p>
                            <a
                                href="https://www.healthline.com/nutrition/mediterranean-diet-meal-plan"> Find out more </a>
                            <button class="btn btn-primary" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px; " onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus7.jpg' %}" class="img-fluid rounded-start w-200" alt="about"
                    style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                A vegan diet is based on plants (such as vegetables, grains, nuts and fruits) and foods
                                made from plants.

                                Vegans do not eat foods that come from animals, including dairy products and eggs.
                                With good planning and an understanding of what makes up a healthy, balanced vegan diet,
                                you can get all the nutrients your body needs.

                                If you do not plan your diet properly, you could miss out on essential nutrients, such
                                as calcium, iron, vitamin B12, iodine and selenium.

                            </p>
                            <a
                                href="https://www.healthline.com/nutrition/vegan-diet-guide"> Find out more </a>
                            <button class="btn-info" style="float: right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px; " onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%; margin-top: 10px;border-color: beige;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'aboutus8.jpg' %}" class="img-fluid rounded-start w-200" alt="about"
                    style="margin-top: 10px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="read-more-container">
                        <div class="container">
                            <p class="card-text">
                                The Dukan diet is a high-protein, low-carb weight loss diet split into four phases — two
                                weight loss phases and two maintenance phases.
                                The weight loss phases are primarily based on eating unlimited high-protein foods and
                                mandatory oat bran.
                                The Dukan Diet starts by calculating your goal weight — called your “true” weight —
                                based on your age, weight loss history, and other factors.
                            </p>

                            <a href="https://www.healthline.com/nutrition/dukan-diet-101#what-it-is"
                                style="display:block;"> Find out more </a>
                            <button class="btn btn-primary" style="float:right;margin: 15px;color: wheat; background-color: #2E91E4;border: none;
                            cursor: pointer;
                            border-radius: 20px;background:  #2E91E4;color: #fff; font-weight: bold; transition: 0.5s; padding: 12px;" onclick="readMore(this)">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="{% static 'assets/img/gallery/footer_bg.jpg'%}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">

                                <div class="footer-logo">
                                <a href="{% url 'accounts:home' %}"><img class="w-50" src="{% static 'assets/img/logo/PicsArt_23-04-29_14-41-32-154-removebg-preview.png'%}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Lorem igpsum doldfor sit amet, adipiscing elit, sed do eiusmod
                                            tempor cergelit rgh. </p>
                                        <p class="info1">Lorem ipsum dolor sit amet, adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    <!-- <h4><span>+564 </span>7885 3222</h4>
                                    <p>youremail@gmail.com</p> -->
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email"
                                                placeholder=" Email Address " class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm">
                                                    Send
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">


                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <script src="{% static 'script.js'%}"></script>
</body>

</html>